<div class="container">
    <section class="section section-brand">
        <div class="section-brand-partical">Partical</div>
        <div class="section-brand-scroll-downs">
            <div class="section-brand-scroll-downs-mousey">
              <div class="section-brand-scroll-downs-mousey-scroller"></div>
            </div>
          </div>
    </section>
    <section class="section section-info">
        <div class="section-info-profile">
            <h3>PROFILE</h3>
            <ng-container *ngFor="let profile of profileStaticData">
                <div class="section-info-profile-block">
                    <div>{{profile.title}}</div>
                    <div>{{profile.content}}</div>
                </div>
            </ng-container>
        </div>
        <div class="section-info-introduction">
            <h3>INTRODUCTION</h3>
            <ng-container *ngFor="let introduction of introductionStaticData">
                <ng-container *ngIf="introduction !== '-space-'; else showSpace">
                    <div>{{introduction}}</div>
                </ng-container>
                <ng-template #showSpace>
                    <br/>
                </ng-template>
            </ng-container>
        </div>
    </section>
    <section class="section section-education">
        <mat-accordion>
            <h3>EDUCATION</h3>
            <ng-container *ngFor="let education of educationStaticData;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{education.title}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{education.description}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let content of education.contentList">
                        <div>{{content}}</div>
                    </ng-container>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </section>
    <section class="section section-employment">
        <mat-accordion>
            <h3>EMPLOYMENT</h3>
            <ng-container *ngFor="let employment of employmentStaticData;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{employment.title}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{employment.description}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <div>{{employment.content.company}}</div>
                        <div>{{employment.content.title}}</div>
                        <div>{{employment.content.period}}</div>
                        <div>{{employment.content.descriptionText}}</div>
                        <ul *ngFor="let description of employment.content.descriptionList">
                            <li>{{description}}</li>
                        </ul>
                    </div>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </section>
    <section class="section section-skill">
        <mat-accordion>
            <h3>SKILL</h3>
            <ng-container *ngFor="let skill of skillStaticData;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{skill.title}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let content of skill.contentList">
                        <div>{{content}}</div>
                    </ng-container>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </section>
    <section class="section section-moreprojects">
        <mat-accordion>
            <h3>More Projects</h3>
            <ng-container *ngFor="let project of moreProjectsStaticData;">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{project.title}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let content of project.contentList">
                        <div>{{content}}</div>
                    </ng-container>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </section>
</div>